@import "config";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.3;
  font-family: "Comfortaa", cursive;
  color: $light-color;
  background: $dark-color;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  padding: 1rem;
  max-width: 1000px;
  margin: auto;
}
