nav {
  background: $primary-color;
  padding: 0 1rem;

  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    a {
      color: $light-color;

      &:hover {
        color: $dark-color;
      }
    }

    .logo {
      font-size: 2rem;
      padding: 0.5rem 0;
      font-family: "Rock Salt", cursive;
      background-image: -webkit-linear-gradient(
        315deg,
        $secondary-color,
        $dark-color 75%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: $light-color;

      a:hover {
        background-image: -webkit-linear-gradient(
          315deg,
          $dark-color,
          $light-color 75%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: $secondary-color;
        text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
      }
    }

    .item {
      padding: 0.75rem;
      transition: all $animation-speed ease-in-out;
      width: 100%;
      order: 3;
      text-align: center;
      display: none;
      transition: all $animation-speed ease-in-out;

      &:hover {
        transform: scale(1.1);
      }
    }

    li {
      &.subitem a {
        padding: 1rem;
      }
      a {
        display: block;
        padding: 1rem 0.5rem;
      }
    }

    .toggle {
      order: 1;
      font-size: 2rem;

      a {
        transition: all $animation-speed ease-in-out;

        &:hover {
          transform: rotate(90deg);
        }
      }
    }

    .submenu {
      display: none;
    }

    .submenu-active .submenu {
      display: block;
    }

    .has-submenu > a::after {
      font-family: "Font Awesome 5 Free";
      font-size: 1rem;
      line-height: 1rem;
      font-weight: 900;
      content: "\f078";
      color: $light-color;
      padding-left: 0.5rem;
      cursor: pointer;
    }

    .has-submenu > a:hover::after {
      color: $dark-color;
    }

    .subitem a {
      padding: 0.5rem 1rem;
    }

    .submenu-active {
      border: 1px solid $dark-color;
      border-radius: $border-radius;
    }
  }

  .active .item {
    display: block;
  }
}

// Tablet and Above
@media all and (min-width: 768px) {
  nav {
    .menu {
      .logo {
        font-size: 3rem;
      }
    }
  }
}

// Desktop and Above
@media all and (min-width: 900px) {
  nav {
    .menu {
      justify-content: center;

      .logo {
        flex: 1;
        font-size: 3.5rem;
      }

      .toggle {
        display: none;
      }

      .item {
        position: relative;
        order: 1;
        display: block;
        width: auto;
      }

      .submenu-active .submenu {
        position: absolute;
        left: 0;
        background: $primary-color;
        text-align: left;
      }
    }
  }
}
