header {
  padding: 1rem;
  position: sticky;
  top: 0;
  background: $primary-color;
  color: $light-color;
  text-align: center;

  .logo {
    font-size: 2rem;
  }

  ul {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    li {
      padding: 0 0.5rem;
    }
  }
}

@media (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;

    ul {
      margin-top: 0;
      align-self: center;
    }
  }
}
